/* montserrat-100 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/montserrat-v18-latin_cyrillic-100.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-100.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-100.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-100.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-100.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v18-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v18-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f5f7fa;
  padding: 40px 20px;
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }
}

.wrapper {
  background: #fff;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sidebar {
  background: #1e2939;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .sidebar {
    min-width: 330px;
    -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    min-width: 370px;
  }
}

.info-mob {
  padding: 30px 40px;
}

@media screen and (min-width: 768px) {
  .info-mob {
    display: none;
  }
}

.info-mob .profession-mob {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #fff;
}

.info-mob .name-mob {
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
}

.info-mob .personal-mob {
  color: #d6d8db;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

.my-photo {
  width: 100%;
}

.contacts-container {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title,
.skills-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.08;
  color: #fff;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #d6d8db;
  -webkit-transition-property: color, font-weight, font-size;
  transition-property: color, font-weight, font-size;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus,
.contact-block:hover .contacts-link,
.contact-block:focus .contacts-link {
  color: #ff6b08;
  font-size: 14.5px;
  font-weight: 500;
  line-height: 1.7;
}

.icon-contacts {
  margin-right: 5px;
}

.icon {
  fill: #d6d8db;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .icon,
.contacts-link:focus .icon {
  fill: #ff6b08;
}

.contacts-link-type {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  color: #fff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-type:hover, .contacts-link-type:focus {
  color: #ff6b08;
  cursor: pointer;
}

.skills-container {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.skills-item {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #ff6b08;
}

.skills-item .skills-text {
  color: #d6d8db;
}

.about-me-container {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
}

@media screen and (min-width: 768px) {
  .about-me-container {
    padding-top: 75px;
    padding-bottom: 30px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.info-tablet {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .info-tablet {
    display: none;
  }
}

.info-container {
  margin-bottom: 40px;
}

.info-container .profession {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
}

.info-container .name {
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
}

.info-container .personal {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

.info-container .description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.projects-container {
  margin-bottom: 30px;
}

.about-me-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.08;
}

.profession-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.profession-title .profession-title-list {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
}

.profession-title .profession-title-item {
  margin-top: 0;
  margin-left: 0px;
  margin-bottom: 5px;
}

.profession-company {
  text-decoration: none;
  color: #ff6b08;
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.profession-company:hover {
  font-size: 17px;
}

.profession-time {
  display: block;
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

.profession-divider {
  color: #000;
}

.profession-duties {
  margin-top: 5px;
  margin-bottom: 5px;
}

.profession-duties-item,
.profession-achievements {
  margin-left: 20px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.profession-achievements {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
}

.education-company {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.education-duties {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.dots {
  color: #bebebe;
  font-weight: 100;
}

@media screen and (max-width: 657px) {
  .dots {
    display: none;
  }
}

@media screen and (min-width: 657px) and (max-width: 767px) {
  .dots {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .dots {
    display: none;
  }
}

@media screen and (min-width: 1035px) {
  .dots {
    display: inline;
  }
}

@media screen and (max-width: 657px) {
  .link-description {
    display: block;
  }
}

@media screen and (min-width: 657px) and (max-width: 767px) {
  .link-description {
    display: inline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1034px) {
  .link-description {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */