.about-me-container {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;

  @media screen and (min-width: 768px) {
    padding-top: 75px;
    padding-bottom: 30px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.info-tablet {
  margin-bottom: 20px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.info-container {
  margin-bottom: 40px;

  .profession {
    margin-bottom: 25px;
    @include font(14px, $font-weight-bolt, 24px);
  }

  .name {
    @include font(35px, 700, 60px);
  }

  .personal {
    color: $secondary-text-color;
    @include font(12px, $font-weight-norm, 24px);
  }

  .description {
    @include font(14px, $font-weight-norm, 24px);
  }
}

.projects-container {
  margin-bottom: 30px;
}

.about-me-title {
  margin-bottom: 10px;
  @include font(22px, $font-weight-bolt, 24px);
}

// .projects-link {
//   color: $primary-text-color;
//   @include font(14px, 400, 24px);
// }

// .tech-name {
//   @include font(14px, 400, 24px);
//   color:$primary-text-color;
// }

// .projects-item {
//   font-weight: 700;
//   margin-left: 20px;
// }

.profession-title {
  margin-top: 20px;
  margin-bottom: 5px;
  @include font(16px, $font-weight-bolt, 24px);

  & .profession-title-list {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none;
  }

  & .profession-title-item {
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 5px;
  }
}

.profession-company {
  text-decoration: none;
  color: $accent-color;

  &:hover {
    text-decoration: underline;
  }
}

.profession-time {
  display: block;
  color: $secondary-text-color;
  @include font(12px, $font-weight-norm, 24px);
}

.profession-divider {
  color: $divider-color;
}

.profession-duties {
  margin-top: 5px;
  margin-bottom: 5px;
}

.profession-duties-item,
.profession-achievements {
  margin-left: 20px;
  color: $primary-text-color;
  @include font(14px, $font-weight-norm, 24px);
}

.profession-achievements {
  margin: 0;
  margin-bottom: 25px;
  font-weight: $font-weight-bolt;
}

.education-company {
  margin-top: 20px;
  margin-bottom: 5px;
  color: $accent-color;
  @include font(16px, $font-weight-bolt, 24px);
}

.education-duties {
  margin-top: 5px;
  margin-bottom: 5px;
  color: $primary-text-color;
  @include font(14px, $font-weight-norm, 24px);
}

.dots {
  color: $dots-color;
  font-weight: 100;

  // @media screen and (max-width: 767px) {
  //   display: none;
  // }
}
