.sidebar {
  background: $sidebar-bg-color;
  min-width: 360px;
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  }
}

.info-mob {
  padding: 30px 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }

  .profession-mob {
    margin-bottom: 25px;
    @include font(14px, $font-weight-norm, 24px);
    color: $sidebar-text-color;
  }

  .name-mob {
    @include font(35px, 700, 60px);
    color: $sidebar-text-color;
  }

  .personal-mob {
    color: $item-sidebar-color;
    @include font(12px, $font-weight-norm, 24px);
  }
}

.my-photo {
  width: 100%;
}

.contacts-container {
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts-title,
.skills-title {
  margin-bottom: 10px;
  @include font(22px, $font-weight-bolt, 24px);

  color: $sidebar-text-color;
}

.contacts-link {
  text-decoration: none;
  @include font(14px, $font-weight-norm, 24px);

  color: $item-sidebar-color;
  @include transit(color);

  &:hover,
  &:focus,
  .contact-block:hover &,
  .contact-block:focus & {
    color: $accent-color;
  }
}

.contacts-link-type {
  margin-right: 10px;
  @include font(14px, $font-weight-bolt, 24px);

  color: $sidebar-text-color;
  @include transit(color);

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}

// .icon {
//   fill: #fff;
// }

.skills-container {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.skills-item {
  margin-left: 20px;
  @include font(14px, $font-weight-norm, 24px);
  color: $accent-color;

  .skills-text {
    color: $item-sidebar-color;
  }
}
